<ul class="categories <% if defined?(shorter) %>categories--shorter<% end %>">
  <% @categories.each do |category| %>
    <li class="categories__list-item">
      <% if params[:category].present? && params[:category] == category.slug %>
        <% active = 'active' %>
        <% path = root_path %>
      <% else %>
        <% active = '' %>
        <% path = results_path(category: category.slug) %>
      <% end %>
      <%= link_to tidy_string(category.slug).titleize, path, class: "categories__category #{active}" %>
    </li>
  <% end %>
</ul>
