<ul class="categories">
  <% @channels.each do |channel| %>
    <li class="categories__list-item">
      <%= link_to channel[:title], channel[:link], class: 'categories__category' %>
    </li>
  <% end %>
</ul>
