<div class="logo-bar">
  <picture class="logo-bar__picture">
    <source srcset="<%= image_path 'logo.webp' %>" type="image/webp" alt="" class="logo-bar__logo">
    <%= image_tag 'logo.png', class: 'logo-bar__logo' %>
  </picture>
</div>
