<div class="position">
  <span>Results</span>
  <span><%= @results.offset + 1 %></span>
  <span>-</span>
  <span><%= @results.offset + @results.per_page %></span>
  <span>of</span>
  <span><%= @results.total_entries %></span>
</div>
