<div class="position">
  <span>Results</span>
  <span><%= @deals.offset + 1 %></span>
  <span>-</span>
  <span><%= @deals.offset + @deals.per_page %></span>
  <span>of</span>
  <span><%= @deals.total_entries %></span>
</div>
