<div class="recommended">
  <div class="recommended__primary">
    <div class="image-container">
      <%= image_tag 'deal.jpg', class: 'image-fill' %>
    </div>
  </div>
  <div class="recommended__secondary">
    <div class="recommended__title">
      lorem title of product
    </div>
  </div>
</div>
