<div class="recommended" onclick="window.open('<%= deal.url %>', '_blank');">
  <div class="recommended__primary">
    <div class="image-container image-container--lg">
      <%= image_tag deal.image_url, class: 'image-fill' %>
    </div>
  </div>
  <div class="recommended__secondary">
    <div class="recommended__title">
      <%= deal.title %>
    </div>
  </div>
</div>
