<div class="recommended" onclick="window.open('<%= deal.url %>', '_blank');">
  <div class="recommended__primary">
    <div class="image-container image-container--lg">
      <img class="lazy image-fill" src="" data-src="<%= deal.image_url %>" alt="" title="">
    </div>
  </div>
  <div class="recommended__secondary">
    <div class="recommended__title">
      <%= deal.title %>
    </div>
  </div>
</div>
