<div class="category-list">
  <% classes = classes.present? ? classes : '' %>
  <% @categories.each do |category| %>
    <%= link_to tidy_string(category.slug).titleize, "/results?category=#{category.slug}#{replace_filter('Category')}", class: "category-list__category #{classes}" %>
  <% end %>
</div>
