@import "../variables";
@import "../defaults";
@import "../mixins";
@import "../components/categories";
@import "../components/deal";
@import "../components/hero";
@import "../components/image_container";
@import "../components/image_fill";
@import "../components/locations";
@import "../components/logo_bar";
@import "../components/search_form";

.index{

  &__deal{
    padding: 0 15px 15px;
    width: 20%;

    @media (max-width: 991px){
      width: 25%;
    }

    @media (max-width: 767px){
      width: 33.33%;
    }

    @media (max-width: 475px){
      width: 50%;
    }

    @media (max-width: 340px){
      width: 100%;
    }
  }

  &__deals{
    padding: 40px 0;
  }
}
