.categories {
  padding: 15px 0;
  overflow-x: scroll;
  overflow-x: scroll;
white-space: nowrap;

&--shorter{
  padding: 7px 0;
}

  &__list-item {
    margin-right: 5px;
    display: inline-block;
  }

  &__category {
    display: inline-block;
    color: $green;
    padding: 5px;
    transition: background-color 0.2s;
    transition: color 0.2s;
    border-radius: 5px;

    &:hover,
    &.active {
      color: white;
    }

    &.active {
      border: 1px solid $green;

      &,
      &:hover {
        background-color: #2de25e;
        color: white;
      }
    }

    &:hover {
      background-color: #72f195;
      text-decoration: none;
    }
  }
}
