.deal {
  cursor: pointer;
  border: 1px solid white;
  transition: border-color 0.2s;

  &:hover {
    border-color: $border-colour;
  }

  &__text-container {
    padding: 15px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
    height: 47px;
    overflow-y: hidden;
  }

  &__topratedlisting {
    visibility: hidden;
    font-size: 9px;
    background: $green;
    color: white;
    padding: 3px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 8px;

    &--visible{
      visibility: visible;
    }
  }
}
