body{
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

input[type="text"]{
  box-sizing: border-box;
}

select{
  background: white;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

ul{
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a{
  text-decoration: none;

  &:visited{
    text-decoration: none;
  }
}

hr{
  border: 1px solid $border-colour;
}
