body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: $font-colour-primary;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input,
select {

  &:focus {
    outline: 0;
  }
}

button:focus {
  outline: 0;
}

select {
  background: white;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;

  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

hr {
  border: 0;
  background-color: $border-colour;
  margin: 0;
  height: 1px;
}

.adsbygoogle {
  overflow: hidden;
}

.gradient {
  background: linear-gradient(45deg, $green, $light-green);
}

.star {
  width: 13px;
  color: gold;
}

h1,
h2 {
  margin: 0;
}