@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500&display=swap');

$input-font-size: 20px;
$font-colour-primary: #5f5f5f;
$green: #00be34;
$light-green: #00ff47;
$border-colour: #eaeaea;
$footer-background-colour: #f1f1f1;
$button-hover: #2de25e;
$button-active: #72f195;
$breadcrumb-colour: #f5f5f5;
$logo-width: 150px;
