<section class="hero gradient">
  <h1 class="hero__heading">Find the hottest deals right now from popular retailers</h1>
  <div class="hero__search-form">
    <%= render 'components/search_form' %>
  </div>
</section>
