<%= render 'components/logo_bar' %>
<%= render 'components/hero/heading' %>
<div class="categories__content">
  <div class="container">
    <h1 class="categories__heading">Categories</h1>
    <%= render 'components/categories-bar' %>
  </div>
</div>
<%= render 'components/footer' %>
